{% extends "base.html" %} {% block content %}

<ul class="flex flex-col gap-3 border-b">
  <li class="border-b px-4 md:px-0 py-6 sticky top-0 bg-omni-white dark:bg-black flex flex-col gap-2">
    <h1 class="text-2xl font-extrabold">Alla tillgängliga flöden</h1>
    <p class="m-0 text-sm">
      Här nedanför kan du alla källor vi hämtar inlägg ifrån. För varje källa så kan du också hitta direktlänk till
      källans ursprungliga RSS-flöde om du hellre använder en egen RSS-läsare. Självklart så har vi även egna RSS-flöden
      för det som publiceras på Mediakollen.
    </p>
  </li>

  {% for category in categories %}
  <li class="px-4 md:px-0">
    <h2 class="text-base font-bold">{{ category.name }}</h3>
      <ul class="flex flex-col gap-1 py-3 m-0 text-sm">
        <li><a href="{{ category.curated_feed_url }}">RSS-flöde för utvalda inlägg</a></li>
        <li><a href="{{ category.all_feed_url }}">RSS-flöde för alla inlägg</a></li>
      </ul>
      <ul class="flex flex-col gap-6 py-3">
        {% for feed in category.feed_set.all %}
        <li>
          <a class="underline pb-1 text-sm" href="{% url 'feeds:feed_curated' feed.id %}">{{ feed.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
  </li>
</ul>

{% endblock %}

{% block footer %}
{% endblock %}