<nav class="py-6 px-4 md:px-0 flex bg-omni-white dark:bg-black border-b flex-col md:flex-row justify-between md:items-center">
    <a href="/" class="block text-2xl font-black flex gap-2 no-underline">
        <div class="mt-2 w-4 h-4 bg-omni-red rounded-full"></div>
        Mediakollen
    </a>
    
    <ul class="flex items-center gap-3 text-light">
        {% include "_menu_item.html" with title="Flöden" url_name='feeds:list_feeds' %}
        {% include "_menu_item.html" with title="Om sidan" url_name='feeds:about' %}
        {% include "_menu_item.html" with title="Kontakt" url_name='feeds:contact' %}
    </ul>
</nav>