{% extends "base.html" %}

{% block content %}
<div id="page-content" class="my-6 px-4 md:px-0 flex flex-col gap-3">
    <h1 class="text-2xl font-extrabold">Om sidan</h1>
    <p class="m-0">
        Mediakollen är ett minimalistiskt mediaprojekt som drivs av
        <a href="https://konstellationen.org">Kamratdataföreningen Konstellationen</a>. Vi har startat
        Mediakollen för att fler ska få koll på vänstermedia och sociala rörelser utan att styras av
        nätjättarnas algoritmer. De utvalda artiklarna väljs ut av Kamratdataföreningen Konstellationens
        ideella redaktion. Utvalt betyder att någon i redaktionen tycker den är intressant, läsvärd,
        knäpp eller toppen. Utvalt betyder inte att Kamratdataföreningen Konstellationen står bakom
        artikeln eller publikationen. Om du har idéer på fler flöden att lägga till eller flöden att
        ta bort så <a href="{% url 'feeds:contact' %}">kontakta oss här</a>.
    </p>
    <h2 class="text-xl font-extrabold mt-6">Tekniken</h2>
    <p class="m-0">
        Vi använder oss av <a href="https://wiki.konstellationen.org/sv/guider/rss-intro">RSS-flöden</a> från tidningar, bloggar, poddar och andra sajter för att
        skapa inlägg på sidan. Om man hellre använder en RSS-läsare direkt så listar vi adresserna
        för alla flödena under sidan <a href="{% url 'feeds:list_feeds' %}">Flöden</a>.
        Om man är mer intresserad av tekniken bakom så är källkoden publicerad
        <a href="https://codeberg.org/Konstellationen/mediakollen">här.</a>
    </p>

    <h2 class="text-xl font-extrabold mt-6">Integritet och data</h2>
    <p class="m-0">
        Vi har inga cookies på sidan. Vi använder det integritetsvänliga
        statistikverktyg som heter <a href="https://www.goatcounter.com">GoatCounter</a>
        för att få lite grundläggande data om trafiken. Hur datan hanteras går att
        <a href="https://github.com/arp242/goatcounter/blob/master/docs/sessions.markdown#goatcounters-solution">
            läsa om här.
        </a>
    </p>
</div>
{% endblock %}
