<!DOCTYPE html>
<html lang="sv">
<head>
    <title>{% block title %}Mediakollen{% endblock %}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta property="og:image" content="https://mediakollen.org/static/images/mediakollen_logo.png" />
    <meta name="twitter:image" content="https://mediakollen.org/static/images/mediakollen_logo.png" />
    <meta property="og:description" content="Ger dig kollen"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel='stylesheet' href='{% static 'style.css' %}?v=a1da7f2e' media='all' />

    {% if not user.is_authenticated %}
        <!-- Privacy friendly stats. See more: https://www.goatcounter.com -->
        <script data-goatcounter="https://mediakollen.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/authenticated.js' %}"></script>
    {% endif %}
</head>

<body class="bg-omni-white text-black dark:bg-black dark:text-omni-white font-sans">
    <div class="flex w-full items-center flex-col">
        <div class="max-w-3xl w-full">
            {% include "_menu.html" %}
            <div class="" id="content">
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
