{% extends "base.html" %}

{% block content %}

<div id="page-content" class="my-6 px-4 md:px-0 flex flex-col gap-3">
    <h1 class="text-2xl font-extrabold">Kontakt</h1>
    <p class="m-0">
        Vill du komma i kontakt med oss så maila <a href="mailto:mediakollen@konstellationen.org">mediakollen@konstellationen.org</a>.
    </p>
    <p class="m-0">
        Du kan följa Kamratdataföreningen Konstellationens <a href="https://social.spejset.org/@konstellationen">konto på Mastodon-instansen Spejset</a>.
    </p>
    <p class="m-0">
        Du kan även följa <a href="https://social.spejset.org/@mediakollen_bot">Mediakollens bot</a> för automatiska uppdateringar av nya utvalda artiklar.
    </p>
</div>
{% endblock %}