{% extends "base.html" %}
{% load static %}
{% block content %}

<ul class="flex flex-col gap-6 border-b accordion" data-key="news">
    <li class="border-b py-3 sticky top-0 bg-omni-white dark:bg-black flex flex-row items-center">
        <div class="w-9 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
            </svg>
        </div>
        <h3 class="text-base font-light grow">Senaste utvalda nyheter</h3>
        <button class="toggel-accordion cursor-pointer mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </button>
    </li>
    {% for item in chosen_news %}
    {% include "feed/_item.html" with item=item %}
    {% endfor %}
    <li class="px-8 mb-9 flex flex-col space-y-2 item">
        <a href="{% url 'feeds:feed_category_curated' news_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla utvalda nyheter</a>
        <a href="{% url 'feeds:feed_category_all' news_category_id %}" class="underline hover:no-underline text-sm">Visa
            alla nyheter</a>
    </li>
</ul>

<ul class="flex flex-col gap-6 border-b accordion" data-key="blogs">
    <li class="border-b py-3 sticky top-0 bg-omni-white dark:bg-black flex flex-row items-center">
        <div class="w-9 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
        </div>
        <h3 class="text-base font-light grow">Senaste utvalda blogginlägg</h3>
        <button class="toggel-accordion cursor-pointer mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </button>
    </li>
    {% for item in chosen_blog_posts %}
    {% include "feed/_item.html" with item=item %}
    {% endfor %}
    <li class="px-8 mb-9 flex flex-col space-y-2 item">
        <a href="{% url 'feeds:feed_category_curated' blog_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla utvalda blogginlägg</a>
        <a href="{% url 'feeds:feed_category_all' blog_category_id %}" class="underline hover:no-underline text-sm">Visa
            alla blogginlägg</a>
    </li>
</ul>

<ul class="flex flex-col gap-6 border-b accordion" data-key="pods">
    <li class="border-b py-3 sticky top-0 bg-omni-white dark:bg-black flex flex-row items-center">
        <div class="w-9 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
            </svg>
        </div>
        <h3 class="text-base font-light grow">Senaste utvalda poddavsnitt</h3>
        <button class="toggel-accordion cursor-pointer mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </button>
    </li>
    {% for item in chosen_podcasts %}
    {% include "feed/_item.html" with item=item %}
    {% endfor %}
    <li class="px-8 mb-9 flex flex-col space-y-2 item">
        <a href="{% url 'feeds:feed_category_curated' podcast_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla utvalda poddavsnitt</a>
        <a href="{% url 'feeds:feed_category_all' podcast_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla poddavsnitt</a>
    </li>
</ul>

<ul class="flex flex-col gap-6 border-b accordion" data-key="events">
    <li class="border-b py-3 sticky top-0 bg-omni-white dark:bg-black flex flex-row items-center">
        <div class="w-9 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
        </div>
        <h3 class="text-base font-light grow">Kommande utvalda aktiviteter</h3>
        <button class="toggel-accordion cursor-pointer mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </button>
    </li>
    {% for item in chosen_events %}
    {% include "feed/_item.html" with item=item %}
    {% endfor %}
    <li class="px-8 mb-9 flex flex-col space-y-2 item">
        <a href="{% url 'feeds:feed_category_curated' event_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla utvalda kommande aktiviteter</a>
        <a href="{% url 'feeds:feed_category_all' event_category_id %}"
            class="underline hover:no-underline text-sm">Visa alla kommande aktiviteter</a>
    </li>
</ul>
{% endblock %}

{% block footer %}
<div class="px-8 mb-8">
    <h2 id="selection-policy" class="text-xl font-extrabold mt-6">Urvalspolicy</h2>
    <p class="mb-6">
        De utvalda artiklarna väljs ut av <a href="https://konstellationen.org">Kamratdataföreningen
            Konstellationens</a>
        ideella redaktion. Utvalt betyder att någon i redaktionen tycker den är
        intressant, läsvärd, knäpp eller toppen. Utvalt betyder inte att
        Kamratdataföreningen Konstellationen står bakom artikeln eller publikationen.
        <a href="{% url 'feeds:about' %}">Läs mer här</a>.
    </p>
    <a href="https://konstellationen.org">
        <img class="max-h-16" src="{% static 'images/konstellationen_logo_with_text.png' %}" />
    </a>
</div>
{% endblock %}