{% load humanize %}
<li class="item flex flex-row justify-start items-center w-full" data-key="{{ item.item_id }}">
    <div class="flex-none w-9 flex items-center justify-center">
        <a target="_blank" rel="noopener" referrerpolicy="origin" title="{{ item.title }}" class="dott w-2 h-2 rounded-full cursor-default" href="{{ item.link }}"></a>
    </div>
    <div class="flex-1 flex flex-col gap-1 w-full" style="min-width: 0;">
        <div class="flex flex-row justify-self-start items-center gap-2 text-sm"><time class="font-semibold">{{ item.published|naturaltime }}</time><a href="{% url 'feeds:feed_curated' item.feed_id %}" class="no-underline hover:underline font-light ">{{ item.feed.name }}</a></div>
        <a target="_blank" rel="noopener" referrerpolicy="origin" title="{{ item.title }}" class="no-underline hover:underline font-bold leading-tight line-clamp-3 md:line-clamp-2" href="{{ item.link }}">
            {{ item.title }}
        </a>
        {% if user.is_authenticated %}
            <div class="meta flex flex-row items-center justify-between pt-2 mr-8 md:justify-start">
                {% if item.show_item %}
                    <button class="flex flex-row items-center justify-start gap-1 text-semibold text-sm cursor-pointer" data-button-action="unlike" data-item_id="{{ item.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        <span class="text-red-700 font-bold">Avgilla</span>
                    </button>
                {% else %}
                    <button class="flex flex-row items-center justify-start gap-1 text-semibold text-sm cursor-pointer" data-button-action="like" data-item_id="{{ item.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                        </svg>
                        <span class="text-green-700 font-bold">Gilla</span>
                    </button>
                {% endif %}

                <div class="flex items-center justify-center md:pl-8">
                    <a href="{% url 'admin:feeds_item_change' item.id %}" class="flex flex-row items-center justify-center gap-1 text-semibold text-sm cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                        <span class="font-bold">Redigera</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</li>
