{% extends "base.html" %}

{% block content %}

<ul class="flex flex-col gap-6 pb-6 border-b">
	{% if feed.name %}
	<li class="flex flex-col gap-3 px-4 pt-6 md:px-0">
		<h1 class="text-2xl font-extrabold leading-none">{{ feed.name }}</h1>
		<p>
			{% if feed.description %}
				{{ feed.description }}
			{% endif %}
		</p>
		<p class="m-0 text-xs leading-relaxed">
		{% if feed.political_affiliation %}
			Politisk tillhörighet: {{ feed.political_affiliation }}<br/>
		{% endif %}
		{% if feed.publisher %}
			Utgivare: {{ feed.publisher }}<br/>
		{% endif %}
		<p class="m-0 text-xs leading-relaxed">
		{% if feed.website_url %}
			Hemsida: <a href="{{ feed.website_url }}" alt="Länk till hemsidan för {{ feed.name }}" target="_blank">{{ feed.website_url }}</a><br/>
		 {% endif %}
		Flöde: <a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a><br/>
		{% if feed.mastodon_account_url %}
			Mastodonkonto: <a href="{{ feed.mastodon_account_url }}" alt="Länk till Mastodon-kontot för {{ feed.name }}" target="_blank">
				{{ feed.mastodon_account_url }}
			</a>
		 </p>
	{% endif %}
	</li>
	{% elif category.name %}
	<li class="flex flex-row items-center justify-between px-4 pt-6 md:px-0">
		<div class="flex flex-col gap-3">
			<h1 class="text-2xl font-extrabold leading-none">{{ category.name }}</h1>
			<p class="m-0 text-sm">{{ category.description }}</p>
		</div>
		<!-- RSS feed link -->
		{% if all_feed_url %}
			{% include '_rss_button.html' with feed_url=all_feed_url %}
		{% elif curated_feed_url %}
			{% include '_rss_button.html' with feed_url=curated_feed_url %}
		{% endif %}
	</li>
	{% endif %}
	<li class="sticky top-0 flex flex-row items-center justify-start py-3 border-t border-b md:pr-0 bg-omni-white dark:bg-black">
		<div class="flex justify-center w-9">
 			{% if feed_type == 'curated' %}
  			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
				<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
  			</svg>
 			{% else  %}
 			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
   				<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
 			</svg>
 			{% endif %}
		</div>
		<h3 class="flex flex-row items-center gap-3 text-base font-light grow">
 			{% if feed_type == 'all' %}
 				Alla
 			{% elif feed_type == 'curated' %}
 				Utvalda
 			{% else %}
 				{{ feed_type|capfirst }}
 			{% endif %}
 			{% if feed %} artiklar från {{ feed.name }}
			{% elif category %} inlägg från {{ category.name }}
 			{% else %} artiklar
 			{% endif %}
		</h3>
		<div class="flex flex-row gap-3 mr-2 text-sm justify-self-end">
			{% if feed %}
 				<a class="{% if feed_type == 'curated' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:feed_curated' feed.id %}">Utvalda</a>
 				<a class="{% if feed_type == 'all' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:feed_all' feed.id %}">Alla</a>
			{% elif category %}
			<a class="{% if feed_type == 'curated' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:feed_category_curated' category.id %}">Utvalda</a>
			<a class="{% if feed_type == 'all' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:feed_category_all' category.id %}">Alla</a>
			{% else %}
 				<a class="{% if feed_type == 'curated' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:curated' %}">Utvalda</a>
 				<a class="{% if feed_type == 'all' %}text-omni-red{% endif %} no-underline hover:underline" href="{% url 'feeds:all' %}">Alla</a>
			{% endif %}
		</div>
	</li>
	{% for item in page_obj %}
		{% include "feed/_item.html" with item=item %}
	{% endfor %}
</ul>

<div class="px-4 my-6 pagination md:px-0">
	<span class="flex flex-row items-center justify-start gap-3 text-sm step-links">
		{% if page_obj.has_previous %}
			<a href="?page=1">Första</a>
			<a href="?page={{ page_obj.previous_page_number }}">Föregående</a>
		{% endif %}

		<span class="current">
			Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Nästa</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">Sista</a>
		{% endif %}
	</span>
</div>
{% endblock %}