{% if latest_entry_list %}
    <ul>
    {% for entry in latest_entry_list %}
        <li>
            <a href="{{ entry.url }}">{{ entry.title }}</a><br/>
            <a href="{% url 'entries:detail' entry.id %}">Info</a><br/>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entries are available.</p>
{% endif %}